form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #dcd2d2;
    border-radius: 3px;
    width: 470px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}